@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    @apply bg-white dark:bg-gray-800;
  } */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  /* background-color: #1a1a1a; */
  color: white;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

h2.page-heading {
  font-weight: 500;
}

.page-heading {
  @apply text-3xl text-light-color dark:text-dark-color sm:text-5xl md:text-6xl;
}

main p {
  @apply text-xl md:text-xl;
  font-family: var(--font-dm-sans), sans-serif;
}

nav,
nav p,
nav a {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
}

main a {
  @apply text-xl md:text-xl;
}

main h4 {
  @apply mb-4 text-xl font-bold md:text-2xl;
}

.flex-center {
  @apply flex items-center justify-center;
}

.container-styles {
  @apply main-color-styles flex h-full max-w-[900px] flex-col gap-10 px-4 py-6 md:gap-20 md:px-10 md:py-6;
}

.main-color-styles {
  @apply bg-light-bg text-light-color transition duration-200 dark:bg-dark-bg dark:text-dark-color;
}

.form__input {
  @apply mx-auto w-full rounded-md bg-zinc-200 p-2 shadow-lg invalid:border-red-500 invalid:text-red-500 focus-visible:outline focus-visible:outline-neutral-700 dark:bg-sky-900;
  font-family: var(--font-dm-sans);
}

.form__textarea,
input {
  @apply focus-visible:outline focus-visible:outline-neutral-500 dark:focus-visible:outline-neutral-200;
}

.form__label {
  @apply mb-1 text-lg md:text-xl;
  font-family: var(--font-poppins), sans-serif;
  font-weight: 500;
}

.portfolio-button {
  @apply w-52 self-center rounded-3xl bg-neutral-300 p-2 text-light-color transition duration-200 hover:bg-neutral-400 active:translate-y-1 dark:bg-slate-600 dark:text-dark-color;
}

.font-poppins{
  font-family:var(--font-poppins), sans-serif;
}

/*Toggle Button styles*/

/*.toggle-button__div {*/
/*  @apply absolute bottom-0 left-0 right-0 top-0 cursor-pointer rounded-lg bg-zinc-600 transition duration-200;*/
/*}*/
/**/
/*.toggle-button__div:before {*/
/*  @apply absolute bottom-1 left-1 z-10 h-6 w-6 rounded-full bg-amber-300 transition duration-200 content-[''];*/
/*}*/
/**/
/*.toggle-button__input:checked+.toggle-button__div:before {*/
/*  @apply translate-x-full transform;*/
/*}*/

/*.toggle-button__input:checked+.toggle-button__div {*/
/*  @apply bg-zinc-400;*/
/*}*/
